

#header {
    width: 100%;
    height: 50vh;
    
    overflow: hidden;
    position: relative;
}

#header-image {

    overflow: hidden;

    background-image: url("../images/losangeles.jpeg");
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-position: 60% 40%;
    height: 100%;
    width: 100%;
    position: absolute;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  
    display: flex;
    align-items: center;
  }

#header-text {
    position: relative;
}

#avatar {
    background-image: url("../images/michael_sharper-1.jpg");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  @media (min-width: 668px ) {
    #header {
        height: 800px;
    }

  }


  